@model List<Cliente>

<mensagem msg="@TempData["msg"]"  class = "alert alert-danger"></mensagem>

<h1>Clientes Cadastrados</h1>
<br />
<a asp-action="Cadastrar" class="btn btn-warning">Cadastro de Clientes</a>
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome Completo</th>
            <th scope="col">Data de Nascimento</th>
            <th scope="col">Cliente Fidelizado?</th>
            <th scope="col">Gênero</th>
            <th scope="col">Formação</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @{
            //foreach (Carro carro in TempData["lista"] as List<Carro>)
            foreach (Cliente cliente in Model)
            {
                <tr>
                    <th scope="row">@cliente.Codigo</th>
                    <td>@cliente.NomeCompleto</td>
                    <td>@cliente.DataNascimento</td>
                    <td>@cliente.Fidelizado</td>
                    <td>@cliente.Genero</td>
                    <td>@cliente.Formacao</td>
                    <td>
                        <a asp-action="editar" asp-route-id="@cliente.Codigo" class=" btn btn-sm btn-outline-secondary">Editar</a>
                    </td>
                    <td>
                        <!-- Button trigger modal -->
                        <button onClick="clienteId.value = @cliente.Codigo" type="button"  class=" btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Remover
                        </button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmação</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deseja realmente remover o cliente?
            </div>
            <div class="modal-footer">
            <form asp-action="remover">
                <input name="id" type="hidden" id="clienteId" />
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                <button type="submit" class="btn btn-danger">Sim</button>
            </form>
            </div>
        </div>
    </div>
</div>